<mat-list>

  <div mat-subheader>Education</div>
  <mat-list-item>
    <mat-icon mat-list-icon>school</mat-icon>
    <div mat-line>University: Universidad de Alcalá</div>
    <div mat-line>Degree: Computer Engineering</div>
    <div mat-line>Year: 2013-2019</div>
  </mat-list-item>

  <div mat-subheader>Courses</div>
  <mat-list-item>
    <mat-icon mat-list-icon>file_copy</mat-icon>
    <div mat-line>Course: Spring & Hibernate for beginners (includes Spring Boot)</div>
    <div mat-line>Issued by: Udemy</div>
    <div mat-line>Year: 2020</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>file_copy</mat-icon>
    <div mat-line>Course: Deploy Java Spring Apps Online to Amazon Cloud(AWS)</div>
    <div mat-line>Issued by: Udemy</div>
    <div mat-line>Year: 2020</div>
  </mat-list-item>
  <div mat-subheader>Voluntariado</div>
  <mat-list-item></mat-list-item>

</mat-list>
