<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="sidebar">
    Hello
  </mat-drawer>
  <mat-drawer-content>
    <div>
      <mat-tab-group backgroundColor="primary">
        <mat-tab label="About Me">
          <app-about-me></app-about-me>
        </mat-tab>
        <mat-tab label="Experiencia">
          <app-experiencia></app-experiencia>
        </mat-tab>
        <mat-tab label="Education">
          <app-education></app-education>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
